In [ ]:
#trasformazione del dataframe  : map e apply
import pandas as pd
import numpy as np
from time import time
#map 
df_eng = pd.DataFrame(
    {
        "student" : ["John","James","Jennifer"],
        "gender": ["male","male","female"],
        "score":[20,30,30],
        "subject":"english"
})

df_math = pd.DataFrame(
    {
        "student" : ["John","James","Jennifer"],
        "gender": ["male","male","female"],
        "score":[60,100,89],
        "subject":"math"
})

df = pd.concat([df_eng,df_math],ignore_index=True)

#map
gender_encoding ={
    'male':0,
    'female':1
}

df['gender_encoding'] = df['gender'].map(gender_encoding)

print(df)

#apply

df['gender_encoded'] = df['gender'].apply(lambda x: gender_encoding.get(x,np.nan))

print(df)

    student  gender  score  subject  gender_encoding
0      John    male     20  english                0
1     James    male     30  english                0
2  Jennifer  female     30  english                1
3      John    male     60     math                0
4     James    male    100     math                0
5  Jennifer  female     89     math                1
tempo 0.0 sec
    student  gender  score  subject  gender_encoding  gender_encoded
0      John    male     20  english                0               0
1     James    male     30  english                0               0
2  Jennifer  female     30  english                1               1
3      John    male     60     math                0               0
4     James    male    100     math                0               0
5  Jennifer  female     89     math                1               1

In [23]:
#query

# Creazione del DataFrame di esempio

data = {
    "quantity": [8, 12, 4, 18, 9, 16, 3, 20],
    "region": ["Nord", "Centro", "Sud", "Nord", "Isole", "Centro", "Sud", "Nord"],
    "Gross Profit": [900, 2100, -500, 2500, 1100, 1000, 200, 4000],
    "revenue": [6000, 8000, 5000, 7000, 7500, 4000, 3000, 1000],
    "margin": [0.15, 0.2625, -0.10, 0.3571, 0.1467, 0.25, 0.0667, 0.2222],
    "invoice_date": ["2023-12-15", "2024-01-16", "2024-02-18", "2024-04-20",
                     "2023-11-30", "2024-03-01", "2024-05-06", "2024-01-25"],
    "sales": [150, 200, 95, 180, 130, 125, 85, 220],
    "cost": [80, 60, 110, 40, 45, 50, 70, 40],
}

df = pd.DataFrame(data)

df["invoice_date"] = pd.to_datetime(df['invoice_date'])

print(df)

#query attuale
print("\nquery numero1 : ")
print(df.query("quantity > 10 and region == 'Nord' "))


print("\nquery numero2 : ")

min_qty,regions = 5, ['Nord','Centro']

print(df.query("quantity >= @min_qty and region in @regions")) #per richiamare una variabile esterna al dataframe va usato "@"

#seconda query
from datetime import datetime

start = datetime(2024,1,1)
print("\nquery numero 3 : ")
print(df.query("invoice_date.dt.year == 2024 and invoice_date >= @start"))

   quantity  region  Gross Profit  revenue  margin invoice_date  sales  cost
0         8    Nord           900     6000  0.1500   2023-12-15    150    80
1        12  Centro          2100     8000  0.2625   2024-01-16    200    60
2         4     Sud          -500     5000 -0.1000   2024-02-18     95   110
3        18    Nord          2500     7000  0.3571   2024-04-20    180    40
4         9   Isole          1100     7500  0.1467   2023-11-30    130    45
5        16  Centro          1000     4000  0.2500   2024-03-01    125    50
6         3     Sud           200     3000  0.0667   2024-05-06     85    70
7        20    Nord          4000     1000  0.2222   2024-01-25    220    40

query numero1 :
   quantity region  Gross Profit  revenue  margin invoice_date  sales  cost
3        18   Nord          2500     7000  0.3571   2024-04-20    180    40
7        20   Nord          4000     1000  0.2222   2024-01-25    220    40

query numero2 :
   quantity  region  Gross Profit  revenue  margin invoice_date  sales  cost
0         8    Nord           900     6000  0.1500   2023-12-15    150    80
1        12  Centro          2100     8000  0.2625   2024-01-16    200    60
3        18    Nord          2500     7000  0.3571   2024-04-20    180    40
5        16  Centro          1000     4000  0.2500   2024-03-01    125    50
7        20    Nord          4000     1000  0.2222   2024-01-25    220    40

query numero 3 :
   quantity  region  Gross Profit  revenue  margin invoice_date  sales  cost
1        12  Centro          2100     8000  0.2625   2024-01-16    200    60
2         4     Sud          -500     5000 -0.1000   2024-02-18     95   110
3        18    Nord          2500     7000  0.3571   2024-04-20    180    40
5        16  Centro          1000     4000  0.2500   2024-03-01    125    50
6         3     Sud           200     3000  0.0667   2024-05-06     85    70
7        20    Nord          4000     1000  0.2222   2024-01-25    220    40