In [ ]:
x = [1,2,3,4,5]
y = x[0]
x[0] = x[-1]
x[-1] = y

print(x)

[5, 2, 3, 4, 1]

In [ ]:
a = [10,20,30,40,50]
somma = sum(a)
b = len(a)

print(somma/b)

30.0
150

In [ ]:
a = [10,20,30,40,50,3,5,6,7777,4]
y = sorted(a)
print(y)
print(y[-2])

[3, 4, 5, 6, 10, 20, 30, 40, 50, 7777]
50

In [ ]:
f = ["orco","odio","sportivo"]

" ".join(f)

'orco odio sportivo'

In [ ]:
a = "Corso di python ITS Academy"

b = a.replace(" ","")

print(b[1::2])

osdptoIScdm

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

print(a[::-1][1::3])
print(a[2::3])

[9, 6, 3]
[3, 6, 9]

In [ ]:
#8.2
a = [1,2,3,4,5,6,7,8,9,10]
print(a[0:5]) 
print(a[5:11])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [ ]:
#8.3
a = [1,3,5]
b = [2,4,6]

print(sorted(a+b))

[1, 2, 3, 4, 5, 6]

In [ ]:
#8.4

l = [1,2,3,4,5,6,7,8,9,10]

m = l[1:-1:]

print(m)

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#8.7

l = [[1,2,3],
     [4,5,6],
     [7,8,9]]

#l.remove(l[-1])
l[-1].pop()

print(l)

l = [[1,2,3],
     [4,5,6],
     [7,8,9]]

print(l[0][2])
print(l[1][1])
print(l[2][0])

#8.8
l = [[1,2,3],
     [4,5,6],
     [7,8,9]]

for e in l:
    m = l[0::-1]
    m.pop()
    n = l[1::-1]
    n.pop()
    o = l[2::-1]
    o.pop()

    p = m+n+o

print(p)

#8.9

[[1, 2, 3], [4, 5, 6], [7, 8]]
3
5
7
[[4, 5, 6], [7, 8, 9], [4, 5, 6]]

In [ ]:
#Dizionari 

#1

keys = ["a","b","c"]
values = [1,2,3]

a = dict(zip(keys,values))

print(a)

print(a.items())

{'a': 1, 'b': 2, 'c': 3}
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
#2
d = {"x": 10, "y" : 20}

d ["z"] = 30

print(d.items())

print(d["z"])

dict_items([('x', 10), ('y', 20), ('z', 30)])
30

In [ ]:
#3
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30} 
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1,**dict2}

In [ ]:
d = {"x" : 10, "y" : 20 }

if d.get("z") != None:
    d["z"] += 5
else:
    print("z non esiste brutto down")


if d.get("x") != None:
    d["x"] += 5

print(d.items())

z non esiste brutto down
dict_items([('x', 15), ('y', 20)])

In [ ]:
#5

d = {"a":1,"b":2}

if d.get("c") != None:
    d.pop("c")
else:
    print("C non esiste")

C non esiste

In [ ]:
#6

sample_dict = {'Ita': 8, 'Mat': 9, 'Sto': 6, 'Chem': 5, 'Fil': 7, 'Lat': 4}

somma = sum(sample_dict.values())
a = len(sample_dict.keys()) 
media = somma/a

print(media)

ngrande = max(sample_dict,key = sample_dict.get)
npiccolo = min(sample_dict,key = sample_dict.get)

print(f"Il voto più alto è : {ngrande} ,quello più piccolo è {npiccolo} ")

6.5
Il voto più alto è : Mat ,quello più piccolo è Lat

In [ ]:
#7

sample_dict = {"name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

sample_dict["location"] = sample_dict.pop("city")

print(sample_dict.items())

dict_items([('name', 'Kelly'), ('age', 25), ('salary', 8000), ('location', 'New york')])

In [ ]:
#8
d1 = {"one":11, "two":22, "three":33, "four":44, "five":55}

print(d1.items())

dict_items([('one', 11), ('two', 22), ('three', 33), ('four', 44), ('five', 55)])

In [ ]:
#Esercizi Set

#1

s1 = {1,2,3}
s2 = {3,4,5}

s1.update(s2)

print(s1)

{1, 2, 3, 4, 5}

In [ ]:
#2

s1 = {1,2,3}
s2 = {3,4,5}

s3 = s1&s2

print(s3)

{3}

In [ ]:
#3

s1 = {1,2,3,5,7}
s2 = {3,4,5}

s3 = set(s1&s2)

print(s3)

{3, 5}

In [ ]:
#4

s1 = {1,2,3}
s2 = {3,4,5}
s3 = []

for e in s1:
    if e in s1 and e not in s2:
        s3.append(e)
    elif e in s2 and e not in s1:
        s3.append(e)

for e in s2:
    if e in s1 and e not in s2:
        s3.append(e)
    elif e in s2 and e not in s1:
        s3.append(e)


print(s3)

[1, 2, 4, 5]
[1, 2] []

In [ ]:
#4 (parte 2)

s1 = {1,2,3}
s2 = {3,4,5}

diff1 = []
diff2 = []

for e in s1:
    if e in s1 and e not in s2:
        diff1.append(e)

for e in s2:
    if e in s2 and e not in s1:
        diff2.append(e)


print(diff1,diff2)

[1, 2] [4, 5]

In [ ]:
#5
s1 = {1,2}
s2 = {1,2,3,4}

print(s1 in s2)
if s1 in s2:
    print(f"{s1} è un sottoinsieme di {s2}")

False

In [ ]:
#6

sets = {1,2,3}

target = {2,3,1}

print(sets & target)

{1, 2, 3}

In [ ]:
#tuple 

#1.1

dati = (
        (101, "Roma", (41.9028, 12.4964)),
        (102, "Milano", (45.4642, 9.1900)),
        (103, "Napoli", (40.8518, 14.2681)),
        (104, "Torino", (45.0703, 7.6869))
)

cities = []

for e in dati:
    cities.append(e[1])

print(cities)

#1.2
coords = []

for e in dati:
    coords.append(e[-1])

#print(coords)

#1.3

['Roma', 'Milano', 'Napoli', 'Torino']
((101, 'Roma', (41.9028, 12.4964)), (102, 'Milano', (45.4642, 9.19)), (103, 'Napoli', (40.8518, 14.2681)), (104, 'Torino', (45.0703, 7.6869)))