In [6]:
#creazione dataset di esempio

import numpy as np
import pandas as pd

data = {
    'Data':pd.date_range(start = '2023-01-01',
                         periods=100,
                         freq='D'),
    'Prodotto':np.random.choice(['Laptop','Smartphone','Tablet','Accessori'],
                                100),
    'Regione':np.random.choice(['Nord','Centro','Sud','Isole'],
                               100),
    'Canale':np.random.choice(['Online','Negozio','Distribuzione'],
                              100),
    'Vendite':np.random.randint(5,100,100),
    'Costi':np.random.randint(1,50,100)    
}

df = pd.DataFrame(data)

pivot_base = df.pivot_table(
    index='Regione',
    columns='Prodotto',
    values ='Vendite',
    aggfunc='sum'
)

print(df)
print("Tabella pivot Base : ")
print(pivot_base)

         Data    Prodotto Regione         Canale  Vendite  Costi
0  2023-01-01  Smartphone   Isole  Distribuzione       63      9
1  2023-01-02      Laptop    Nord        Negozio       14      1
2  2023-01-03      Tablet  Centro        Negozio       45     28
3  2023-01-04      Laptop     Sud  Distribuzione        9     16
4  2023-01-05   Accessori   Isole  Distribuzione       46     40
..        ...         ...     ...            ...      ...    ...
95 2023-04-06   Accessori   Isole        Negozio       23     25
96 2023-04-07  Smartphone   Isole  Distribuzione       74     23
97 2023-04-08  Smartphone  Centro  Distribuzione       66     31
98 2023-04-09  Smartphone   Isole        Negozio       53     47
99 2023-04-10      Laptop    Nord  Distribuzione       28     21

[100 rows x 6 columns]
Tabella pivot Base :
Prodotto  Accessori  Laptop  Smartphone  Tablet
Regione
Centro          195     238         313     248
Isole           561     493         511     342
Nord            177     255         315     411
Sud             242     177         287     199

In [ ]:
#pivot table con pi√π livelli e aggregazioni

adv_pivot = df.pivot_table(
    index = ['Regione','Canale'],
    columns='Prodotto',
    values=['Vendite','Costi'],
    aggfunc={'Vendite':'sum','Costi':'mean'},
    margins=False,
    fill_value=0
)


print("\ntabella pivot avanzata :")
print(adv_pivot)

tabella pivot avanzata :
                           Costi                                Vendite  \
Prodotto               Accessori Laptop Smartphone     Tablet Accessori
Regione Canale
Centro  Distribuzione   0.000000   0.00  18.000000  49.000000         0
        Negozio        42.500000  29.50  24.000000  20.250000        66
        Online         22.500000  40.00  28.666667   0.000000       129
Isole   Distribuzione  29.000000   4.00  22.000000  25.000000       113
        Negozio        33.500000  31.00  32.750000  28.000000       182
        Online         17.400000  26.00   0.000000  32.000000       266
Nord    Distribuzione  31.333333  18.25  10.500000  36.000000       147
        Negozio        10.000000  18.00  33.000000  32.375000        30
        Online          0.000000   0.00  33.000000  36.000000         0
Sud     Distribuzione  30.000000  17.50  19.000000  26.333333       152
        Negozio        17.000000  20.50  24.000000  32.000000        90
        Online          0.000000  15.00   9.000000   0.000000         0


Prodotto              Laptop Smartphone Tablet
Regione Canale
Centro  Distribuzione      0        236     31
        Negozio          152         13    217
        Online            86         64      0
Isole   Distribuzione     60        200     46
        Negozio          284        311     96
        Online           149          0    200
Nord    Distribuzione    155        130     25
        Negozio          100         95    340
        Online             0         90     46
Sud     Distribuzione     65         53    147
        Negozio           62        142     52
        Online            50         92      0

In [14]:
#tabulazione incrociata per analisi di relazione tra due tabelle

cross_tab = pd.crosstab(
    df['Regione'],
    df['Canale'],
    values=df['Vendite'],
    aggfunc='mean',
    normalize=True,
    margins=False
)

print(cross_tab)

Canale   Distribuzione   Negozio    Online
Regione
Centro        0.107574  0.065636  0.064234
Isole         0.084407  0.093795  0.076241
Nord          0.073650  0.070042  0.073059
Sud           0.084004  0.092935  0.114423